.tag-container {
	padding: 5px;
	display: flex;
	width: fit-content;
	align-items: center;
	color: #fff;
	border-radius: 15px;
	background-color: #b49ccf;
	margin: 5px;
}
.tag-text {
	padding: 4px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}